@model StronaBazaDanychTest.Osoby

@{
    ViewBag.Title = "Pokaz";
}

<h2>Pokaz</h2>
<body>
    <p><b>Wyselekcjonowane osoba to @Model.IdOsoby, @Model.Imie, @Model.Nazwisko, @Model.Wiek</b></p>
</body>

